.authOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px; /* Adjust width as necessary */
  height: 400px; /* Adjust height as necessary */
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Aligns children (tabs and content) vertically */
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  border-bottom: 2px solid #ddd;
}

.tabs button {
  flex-grow: 1;
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tabs button.active {
  border-bottom: 3px solid #43708f;
  font-weight: bold;
}

.tabContent {
  padding: 5px;
  flex-grow: 1; /* Allows this section to fill the remaining space */
  display: flex;
  flex-direction: column; /* Ensures form content is aligned vertically */
  justify-content: start; /* Aligns content to the top */
  overflow-y: auto; /* Adds scroll if content exceeds container height */
}

/* Style for the form and its fields */
form {
  display: flex;
  flex-direction: column;
  gap: 1px; /* Space between each form item */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
button {
  padding: 10px;
  margin: 3px 0; /* Space above and below each input */
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
}

/* Other styles remain unchanged */

/* Ensure body takes full viewport height */
html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://app-pics103815-dev.s3.amazonaws.com/sAIgeImage');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .authOverlay {
    width: 80%; /* Make overlay wider on small screens */
    min-width: 0; /* Remove min-width */
  }
}

@media (max-width: 480px) {
  .tabs button {
    padding: 8px 4px; /* Reduce padding on very small screens */
  }
}
